body {
  text-align: center;
  background-color: #000101;
}
.error {
  width: 100%;
  background-image: url(../images/error.jpg);
  background-size: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-height: 300px;
  display: flex;
  flex-wrap: nowrap;
  justify-items: center;
  align-items: center;
}
.error::before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(0, 0, 0, 60%);
}
.container {
  min-width: 300px;
  position: relative;
}
.container div {
  color: #99876f;
  font-size: 28px;
  margin-bottom: 20px;
}
@media (max-width: 767px) {
  .container div {
    font-size: 20px;
  }
}
