/* Start Variables */
:root {
  --main-color: #19c8fa;
  --transparent-color: rgb(15 116 143 / 70%);
  --section-margin: 60px;
}
/* End Variables */

/* Start Global Rulse */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Open Sans", sans-serif;
  /* overflow-x: none; */
}
ul {
  list-style: none;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End Global Rulse */
/* Start Components */
.special-intro {
  text-align: center;
  padding: 50px;
}
.special-intro h2 {
  font-size: 40px;
  font-weight: normal;
  margin-bottom: 70px;
  position: relative;
  text-transform: uppercase;
}
.special-intro h2::after {
  position: absolute;
  content: "";
  left: 50%;
  transform: translateX(-50%);
  bottom: -35px;
  width: 15px;
  height: 15px;
  background-color: white;
  border: 2px solid #333;
  border-radius: 50%;
}
.special-intro h2::before {
  position: absolute;
  content: "";
  left: 50%;
  transform: translateX(-50%);
  bottom: -27.5px;
  width: 120px;
  height: 2px;
  background-color: #333;
}
.special-intro h2 + p {
  color: #999;
  line-height: 2;
  width: 550px;
  max-width: 100%;
  margin: 0 auto 100px;
  transition: 0.3s;
}
@media (max-width: 767px) {
  .special-intro h2 + p {
    margin-bottom: 50px;
  }
}
.special-intro h2 + p:hover {
  color: #333;
}
/* End Components */
/* Start Scroll */
.scroll {
  position: fixed;
  bottom: 30px;
  right: 30px;
  text-decoration: none;
  background-color: var(--main-color);
  padding: 8px;
  border-radius: 3px;
  z-index: 3;
}
.scroll i {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
}
/* End Scroll */
/* Start header */
header {
  position: absolute;
  left: 0;
  z-index: 4;
  width: 100%;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
header .container::before {
  position: absolute;
  content: "";
  bottom: 0;
  left: 15px;
  width: calc(100% - 30px);
  height: 1px;
  background-color: rgb(162 162 162);
}
header .logo img {
  height: 40px;
}
header nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 1;
}
header nav ul {
  display: flex;
}
header nav ul li a {
  display: block;
  color: #eee;
  text-decoration: none;
  padding: 40px 10px;
  font-size: 13px;
  position: relative;
  z-index: 2;
}
header nav ul li a:hover,
header nav ul li a.active {
  color: var(--main-color);
  border-bottom: 1px solid var(--main-color);
}
header nav .icon {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  width: 30px;
}
header nav .icon:hover span:nth-child(2) {
  width: 100%;
}
header nav .icon span {
  height: 2px;
  background-color: #eee;
  margin-bottom: 5px;
}
header nav .icon span:first-child {
  width: 100%;
}
header nav .icon span:nth-child(2) {
  width: 60%;
  transition: 0.4s;
}
header nav .icon span:last-child {
  width: 100%;
}
@media (min-width: 768px) {
  header nav .icon {
    display: none;
  }
}
@media (max-width: 767px) {
  header nav ul {
    display: none;
  }
  header .container {
    margin-top: 30px;
    padding-bottom: 30px;
  }
  header nav .icon {
    margin-right: -20px;
  }
  header nav .icon:hover + ul,
  header nav ul:hover{ 
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: rgb(0, 0, 0, 70%);
  }
  header nav ul li a {
    padding: 15px;
  }
  header nav ul li a:hover {
    padding-left: 25px;
  }
  header .search {
    margin-left: 40px;
  }
}

header .search {
  color: #eee;
  margin-left: 50px;
  border-left: 2px solid #eee;
  padding: 6px 0 6px 20px;
}
/* End header */
/* Start Landing */
.landing {
  background-image: url(../images/landing.jpg);
  background-size: cover;
  height: 100vh;
  position: relative;
  z-index: 3;
}
.landing .overlay {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  background-color: rgb(0, 0, 0, 60%);
  width: 100%;
  height: 100%;
}
.landing .text {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 50%;
  background-color: var(--transparent-color);
  padding: 50px;
  display: flex;
  justify-content: flex-end;
}
@media (max-width: 767px) {
  .landing .text {
    width: 100%;
    justify-content: center;
  }
  .landing .text .content {
    max-width: 100%;
  }
}
.landing .text .content {
  color: #eee;
  max-width: 500px;
}
.landing .text .content h2 {
  margin-bottom: 15px;
  font-weight: normal;
  font-size: 30px;
}
.landing .text .content p {
  line-height: 2;
  font-size: 14px;
}

.landing .change-image i {
  color: #eee;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 25px;
}
.landing .change-image .fa-angle-left {
  left: 15px;
}
.landing .change-image .fa-angle-right {
  right: 15px;
}
@media (max-width: 767px) {
  .landing .change-image {
    display: none;
  }
}
.landing .bullets {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 25px;
  left: 50%;
  transform: translateX(-50%);
}
.landing .bullets span {
  border: 1px solid #eee;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  margin-right: 10px;
}
.landing .bullets .with-color {
  border: none;
  background-color: var(--main-color);
}
/* End Landing */
/* Start Services */
.services {
  margin-top: var(--section-margin);
  margin-bottom: var(--section-margin);
}
.services .services-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  gap: 30px;
}
.services .services-content .serv {
  display: flex;
  gap: 50px;
  margin-bottom: 40px;
  padding: 15px;
  transition: 0.3s;
}
.services .services-content .serv:hover {
  box-shadow: 0 0 2px #0a0a0a;
  /* transform: translateZ(15px) scale(1.1); */
}
@media (max-width: 767px) {
  .services .services-content .serv {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
  }
  .services .services-content {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
}

.services .services-content .serv .text {
  flex: 1;
}
.services .serv .text h3 {
  margin-bottom: 20px;
  font-size: 22px;
  color: #222;
}
.services .serv .text p {
  color: #777;
  line-height: 2;
  transition: 0.3s;
}
.services .serv:hover .text p {
  color: #222;
}

.services .services-content .serv i {
  font-size: 35px;
  color: var(--main-color);
}
/* =============================== */
.services .services-content-two {
  margin-top: var(--section-margin);
  background-image: url(../images/design-features.jpg);
  height: 600px;
  background-size: cover;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
}
.services .services-content-two::before {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  background-color: rgb(0, 0, 0, 60%);
}
.services-content-two .text,
.services-content-two .image {
  position: relative;
  z-index: 2;
}
.services-content-two .image {
  padding-left: 50px;
}
.services-content-two .image img {
  bottom: -150px;
  position: relative;
}
.services .services-content-two .text {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 50%;
  background-color: var(--transparent-color);
  padding: 50px;
  display: flex;
  justify-content: flex-start;
}
@media (max-width: 830px) {
  .services-content-two .image {
    display: none;
  }
  .services .services-content-two .text {
    width: 100%;
    justify-content: center;
  }
  .services .services-content-two .text .content {
    max-width: 100%;
  }
}
.services .services-content-two .text .content {
  color: #eee;
  max-width: 500px;
}

.services-content-two h3 {
  font-weight: normal;
  margin-bottom: 30px;
  margin-left: -15px;
  font-size: 22px;
  text-transform: uppercase;
}
.services-content-two ul li {
  position: relative;
  padding: 0 0 15px 25px;
}
.services-content-two ul li::before {
  position: absolute;
  font-family: "Font Awesome 5 Free";
  content: "\e163";
  left: -15px;
  font-weight: 900;
}
/* End Services */
/* Start Portfolio */
.Portfolio {
  margin-top: var(--section-margin);
  margin-bottom: var(--section-margin);
}
.Portfolio .container ul {
  display: flex;
  justify-content: center;
  gap: 1px;
  padding-left: 2px;
  padding-right: 2px;
}
.Portfolio .container ul li {
  padding: 7px 20px;
}
@media (max-width: 767px) {
  .Portfolio .container ul li {
    padding: 5px 15px;
    font-size: 15px;
  }
}
.Portfolio .container ul .active,
.Portfolio .container ul li:hover {
  background-color: var(--main-color);
  color: #eee;
}
.Portfolio .images-container {
  padding-top: 60px;
  display: flex;
  flex-wrap: wrap;
}
.Portfolio .images-container .box {
  flex-basis: 100%;
  position: relative;
  overflow: hidden;
}
@media (min-width: 767px) {
  .Portfolio .images-container .box {
    flex-basis: 50%;
  }
}
@media (min-width: 1199px) {
  .Portfolio .images-container .box {
    flex-basis: 25%;
  }
}
.Portfolio .images-container .box img {
  max-width: 100%;
  transition: 0.3s;
}
.Portfolio .box:hover img {
  transform: rotate(4deg) scale(1.1);
}
.Portfolio .images-container .box .text {
  position: absolute;
  width: 100%;
  padding: 20px;
  left: 0;
  bottom: -100%;
  background-color: white;
  transition: 0.3s;
}
.Portfolio .box:hover .text {
  bottom: 0;
}
.Portfolio .box .text h4 {
  font-weight: normal;
  /* font-size: 19px; */
  margin-bottom: 10px;
}
.Portfolio .box .text p {
  color: var(--main-color);
}
.Portfolio .more {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
.Portfolio .more a {
  text-decoration: none;
  color: #eee;
  background: var(--main-color);
  padding: 10px 20px;
  border-radius: 4px;
}
/* End Portfolio */

/* Start Video  */
.video {
  margin-top: var(--section-margin);
  margin-bottom: var(--section-margin);
  position: relative;
}
.video video {
  max-width: 100%;
}
.video .text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: var(--transparent-color);
  padding: 20px;
  color: #eee;
  width: 100%;
}
.video .text h2 {
  font-weight: normal;
  text-transform: uppercase;
  font-size: 30px;
  margin-bottom: 20px;
}
.video .text button {
  background-color: black;
  color: white;
  padding: 10px 20px;
  margin-top: 20px;
  border: none;
  text-transform: uppercase;
}
/* End Video  */
/* Start About */
.about {
  margin-top: var(--section-margin);
  /* margin-bottom: var(--section-margin); */
  text-align: center;
}
.about .container {
  position: relative;
  overflow: hidden;
}
.about img {
  max-width: 100%;
  margin-bottom: -120px;
}
@media (max-width: 520px) {
  .about img {
    max-width: 100%;
    margin-bottom: -70px;
  }
}
/* End About */
